[submodule "kernel"]
	path = kernel
	url = https://github.com/OrderLab/phoenix-kernel.git
[submodule "compiler"]
	path = compiler
	url = https://github.com/OrderLab/phoenix-compiler.git
[submodule "userlib"]
	path = userlib
	url = https://github.com/OrderLab/phoenix-userlib.git
[submodule "glibc"]
	path = glibc
	url = https://github.com/OrderLab/phoenix-glibc.git
